@import '../../common/colors.scss';

.footer {
    background-color: $secondary-color;
    color: $font-primary;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}